---
import react from "../assets/images/react.svg";
import astro from "../assets/images/astro.svg";
import html from "../assets/images/html.svg";
import css from "../assets/images/css.svg";
import tailwind from "../assets/images/tailwind.svg";
---

<section class="py-4">
  <h3 class="text-3xl font-bold mb-5">Habilidades</h3>
  <ul class="flex gap-2 items-center justify-center">
    <li><img src={react.src} alt="react" class="w-28" /></li>
    <li><img src={tailwind.src} alt="react" class="w-28" /></li>
    <li><img src={css.src} alt="react" class="w-28" /></li>
    <li><img src={html.src} alt="react" class="w-28" /></li>
    <li><img src={astro.src} alt="react" class="w-28" /></li>
  </ul>
</section>
